{% extends 'main/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/main/article.css">
{% endblock %}

{% block main %}
    <main>
        <div class="user">
            <div class="user_image" onclick="location.href='/profil/{{ article.0.userid }}'"></div>
            <div class="user_info">
                <p onclick="location.href='/profil/{{ article.0.userid }}'">{{ userInfo.0.firstname }} {{ userInfo.0.lastname }}</p>
                <div class="user_info_separator"></div>
                <p>Posté le {{ article.0.create_at }}</p>
            </div>
        </div>
        <div class="article_title">
            <h1>{{ article.0.title }}</h1>
        </div>
        <div class="article_pre_content">
            <h2>{{ article.0.subtitle }}</h2>
            <p>{{ article.0.description }}</p>
        </div>
        <div class="article_content">
            <p>{{ article.0.content }}</p>
        </div>
        {% if article.0.image %}
            <img src="/ImageArticle/{{ article.0.image }}" alt="Image Article">
        {% endif %}
        <div class="like_share">
            <form method="post" action="">
                <input type="hidden" name="act" value="like">
                <input type="submit" value="">
                <p>{{ numberLikes }} likes</p>
            </form>
            <div>
                <i class="fa-solid fa-share-from-square"></i>
                <p>118 partages</p>
            </div>
        </div>
    </main>

{% endblock %}