{% extends 'main/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/main/home.css">
{% endblock %}

{% block main %}
    <div class="heading">
        <img src="/assets/images/main/logo-freewup-white.png" alt="logo_freewup">
        <div>
            <p>Catégories recommandées :</p>
            <div class="heading_categories">
                <button>Sport</button>
                <button>Économie</button>
                <button>Musique</button>
                <button>Cuisine</button>
                <button>Éducation</button>
                <button>Médecine</button>
                <button>Politique</button>
                <button>Business</button>
                <button>Webdesign</button>
            </div>
        </div>
    </div>

    <main>
        <div class="category_economy">
            <h1>Économie</h1>
            <div class="category_economy_block">
                <div onclick="location.href='article/{{ economie.0.id }}'">
                    <p>{{ economie.0.title }}</p>
                </div>
                <div onclick="location.href='article/{{ economie.1.id }}'">
                    <p>{{ economie.1.title }}</p>
                </div>
                <div onclick="location.href='article/{{ economie.2.id }}'">
                    <p>{{ economie.2.title }}</p>
                </div>
                <div onclick="location.href='article/{{ economie.3.id }}'">
                    <p>{{ economie.3.title }}</p>
                </div>
            </div>
        </div>
        <div class="category_transport">
            <h1>Transports</h1>
            <div class="category_transport_block">
                <div onclick="location.href='article/{{ transport.0.id }}'">
                    <p>{{ transport.0.title }}</p>
                </div>
                <div onclick="location.href='article/{{ transport.1.id }}'">
                    <p>{{ transport.1.title }}</p>
                </div>
                <div onclick="location.href='article/{{ transport.2.id }}'">
                    <p>{{ transport.2.title }}</p>
                </div>
                <div onclick="location.href='article/{{ transport.3.id }}'">
                    <p>{{ transport.3.title }}</p>
                </div>
            </div>
        </div>
        <div class="category_politics">
            <h1>Politique</h1>
            <div class="category_politics_block">
                <div onclick="location.href='article/{{ politique.0.id }}'">
                    <p>{{ politique.0.title }}</p>
                </div>
                <div onclick="location.href='article/{{ politique.1.id }}'">
                    <p>{{ politique.1.title }}</p>
                </div>
                <div onclick="location.href='article/{{ politique.2.id }}'">
                    <p>{{ politique.2.title }}</p>
                </div>
                <div onclick="location.href='article/{{ politique.3.id }}'">
                    <p>{{ politique.3.title }}</p>
                </div>
            </div>
        </div>
        <button>
            <p>Charger plus d'articles</p>
            <i class="fa-solid fa-3x fa-chevron-down"></i>
        </button>
    </main>
{% endblock %}